.container {
  width: 1200px;
  padding-bottom: 2%;
  word-break: break-all;
  /* margin: 0 auto; */
}

.box {
  padding-bottom: 50px;
}

.ls {
  float: left;
}

.rs {
  width: 80vw;
  min-height: 100vh;
  padding-left: 250px;
}

.subtitle {
  font-size: 1.3em;
  font-weight: bold;
}

.ticket {
  padding-top: 25px;
}

.paper {
  width: 800px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px;
}

.button_4 {
  width: 370px;
}

/* sections/ParkingLot.jsx */
table {
  width: 600px;
  border: 1px solid #ffffff;
  border-collapse: collapse;
  float: left;
}

th,
td {
  border: 1px solid #ffffff;
  padding-bottom: 80px;
}

.small_square {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding-right: 20px;
}

.squares {
  padding-top: 380px;
  padding-left: 200px;
}
