.container {
    width: 1200px;
    padding-bottom: 2%;
    word-break: break-all;
    /* margin: 0 auto; */
  }

.ls {
    float: left;
  }

.rs {
    width: 80vw;
    min-height: 100vh;
    padding-left: 325px;
  }

.charge_header {
    width: 800px;
    display: flex;
}

.subtitle {
    font-size: 1.3em;
    font-weight: bold;
    flex: 1;
}

.charge_main {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 800px;
    margin-top: 20px;
    padding: 30px;
    padding-right: 50px;
    padding-left: 40px;
}

.charge_inside {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: larger;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
