.main {
  margin-left: -50px;
  margin-top: -20px;
  margin-right: -50px;
}
.intro {
  background-color: rgb(171, 196, 247);
  width: 100%;
  height: 550px;
}
.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}
.textOn {
  position: absolute;
  color: #f5f6ff;
  font-size: 50px;
  top: 400px;
  left: 750px;
  text-shadow: 3px 3px 1px#808080;
}
.lbox {
  background-color: #102297;
  float: left;
  width: 30%;
  height: 250px;
}
.line {
  width: 200px;
  height: 3px;
  background-color: white;
  border: none;
  margin: 120px 0px 0px 20px;
}
.text {
  margin: 10px 0px 0px 20px;
  color: white;
  font-weight: bold;
}
.rbox {
  background-color: rgb(255, 255, 255);
  float: right;
  width: 70%;
  height: 250px;
}
.Col {
  padding-top: 50px;
  cursor: pointer;
}
.Col:hover {
  padding-top: 50px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}
.img {
  width: 100px;
  height: 100px;
}
.text2 {
  color: rgb(58, 110, 255);
  margin-top: 14px;
  font-weight: bolder;
}
.text3 {
  color: rgb(3, 10, 31);
  margin-top: 3px;
  font-weight: bold;
}
