.container {
  height: 120px;
}
.logo {
  height: 120px;
  width: 170px;
  cursor: pointer;
}
.Button {
  color: #5172ff;
  font-weight: bold;
  font-size: 1.1em;
}
.userID {
  float: right;
  width: fit-content;
  margin: 47px 20px 0px 0px;
}
.btn {
  background-color: #5172ff;
  float: right;
  width: fit-content;
  margin: 40px 30px 0px 0px;
}
.Settings {
  float: right;
  margin: 40px 40px 0px 0px;
}
